/* *подключили шрифты */

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprum.woff2) format("woff2"),
    url(/fonts/cuprum.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumbold.woff2) format("woff2"),
    url(/fonts/cuprumbold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumbolditalic.woff2) format("woff2"),
    url(/fonts/cuprumbolditalic.woff) format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumitalic.woff2) format("woff2"),
    url(/fonts/cuprumitalic.woff) format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(/fonts/ptsans.woff2) format("woff2"),
    url(/fonts/ptsans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(/fonts/ptsansbold.woff2) format("woff2"),
    url(/fonts/ptsansbold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

/* !цвета */
:root {
  --text-black: #000000;
  --text-white: #ffffff;
  --text-footer-mid: #F1F5F7;
  --akcent-color: #ee3643;
  --hover-akcent-color: #ca2c37;
  --click-akcent-color: #ba2732;
  --success: #63a63e;
  --hover-success: #5fbb2d;
  --click-success: #518534;
  --bg-title: #f9f5f0;
  --bg-title-catalog: #F7F3EC;
  --bg-gray: #f1f5f7;
  --bg-header-tel: #F3F7F9;
  --bg-dark: #293449;
  --bg-click-dark: #161d29;
  --bg-hover-dark: #293449;
  --text-dark: #32425c;
  --hover-icon: #3d546f;
  --grey: #c5c5c5;
  --grey-dark: #a9a9a9;
  --text-mark: #FFD180;
  --bg-folback-modal: #F4F4F4;
  --bg-korzin-modal: #F1F1F1;
  /** ----------------фоны карточек промо материалов----------------- */
  --bg-slider-title: rgba(0, 0, 0, 0.25);
  --bg-promo-materials: #ffbf47;
  --bg-promo-instrument: #3bbce3;
  --bg-promo-tehnik: #dc91d8;
  --bg-promo-sale: #8ed78f;
  --bg-promo-deliveri: #ffbf47;
  /* *----------------------тени-------------------- */
  --shadow-logo: rgba(0, 0, 0, 0.24);
  --shadow-nav: #293449;
  --shadow-succes: #367315;
  --shadow-slide-but: #405069;
  --shadow-kart-modal: rgba(0, 0, 0, 0.15);
  --shadow-folback-modal: rgba(0, 0, 0, 0.75);
  /* *-------------------рамки--------------------- */
  --border: #EAEAEA;
  --border-dark: #C5C5C5;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

/* !классы шрифтов */

.paragraf-1 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.paragraf-2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.paragraf-3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
}

.zagolovok-4 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.zagolovok-2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.stok_button {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.podpis {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: #32425c;
}

.bold-paragraf {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: #000000;
}

.old-price {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: #a9a9a9;
}

.breadcrumbs {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: #000000;
}

.zagolovok-6 {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;

  color: #000000;
}

.zagolovok-6 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #000000;
}
/* промопродукта тайтл */
.promo-product-card__title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* !скрыть элемент */
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
