/* *подключили шрифты */

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprum.woff2) format("woff2"),
    url(/fonts/cuprum.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumbold.woff2) format("woff2"),
    url(/fonts/cuprumbold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumbolditalic.woff2) format("woff2"),
    url(/fonts/cuprumbolditalic.woff) format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), local("My Cuprum"),
    url(/fonts/cuprumitalic.woff2) format("woff2"),
    url(/fonts/cuprumitalic.woff) format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(/fonts/ptsans.woff2) format("woff2"),
    url(/fonts/ptsans.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), local("PTSans"),
    url(/fonts/ptsansbold.woff2) format("woff2"),
    url(/fonts/ptsansbold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

/* !цвета */
:root {
  --text-black: #000000;
  --text-white: #ffffff;
  --text-white-opacity: rgba(250, 250, 250, 0.5);
  --text-white-30: rgba(250, 250, 250, 0.3);
  --text-footer-mid: #f1f5f7;
  --akcent-color: #ee3643;
  --hover-akcent-color: #ca2c37;
  --click-akcent-color: #ba2732;
  --success: #63a63e;
  --hover-success: #5fbb2d;
  --click-success: #518534;
  --bg-title: #f9f5f0;
  --bg-title-catalog: #f7f3ec;
  --bg-gray: #f1f5f7;
  --bg-header-tel: #f3f7f9;
  --bg-dark: #293449;
  --bg-click-dark: #161d29;
  --bg-click-menu-dark: #1d2739;
  --text-dark: #32425c;
  --hover-icon: #3d546f;
  --grey: #c5c5c5;
  --grey-03: rgba(197, 197, 197, 0.3);
  --grey-dark: #a9a9a9;
  --grey-dark-03: rgba(169, 169, 169, 0.3);
  --text-mark: #ffd180;
  --bg-folback-modal: #f4f4f4;
  --bg-korzin-modal: #f1f1f1;
  /** ----------------фоны карточек промо материалов----------------- */
  --bg-slider-title: rgba(0, 0, 0, 0.25);
  --bg-promo-materials: #ffbf47;
  --bg-promo-instrument: #3bbce3;
  --bg-promo-tehnik: #dc91d8;
  --bg-promo-sale: #8ed78f;
  --bg-promo-deliveri: #ffbf47;
  /* *----------------------тени-------------------- */
  --shadow-logo: rgba(0, 0, 0, 0.24);
  --shadow-nav: #293449;
  --shadow-succes: #367315;
  --shadow-slide-but: #405069;
  --shadow-kart-modal: rgba(0, 0, 0, 0.15);
  --shadow-folback-modal: rgba(0, 0, 0, 0.75);
  /* *-------------------рамки--------------------- */
  --border: #eaeaea;
  --border-dark: #c5c5c5;
  --bg-icon-social: #212a3a;
  --bord-submit-filter: #e5e5e5;
}

/* !----------------Глобальные стили----------------- */
.page {
  height: 100%;
  width: 100%;
}

.page-body {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
  min-height: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* *скрыть элемент */
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--text-black);
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-header__title {
  margin: 0;
  display: flex;
}

.section-header__title span {
  margin: auto auto;
}

/** интерактив сток кнопки */
.button-defolt-interactiv:hover,
.goods-card__button:hover {
  background: var(--hover-akcent-color);
}

.button-defolt-interactiv:active,
.goods-card__button:active {
  background: var(--click-akcent-color);
}
/*? переопределяет стили некоторых заголовков на черные */
h2[class*="__title"],
p[class*="__title"] *,
p[class*="__title"] {
  color: black;
}

button,
input[type="submit"] {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* наклейка новое */
.new::before {
  content: "new";
  display: block;
  box-sizing: border-box;
  width: 100px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  background: var(--akcent-color);
  transform: rotate(45deg);
}

/* тени при наведении */
.goods-card:hover,
.popular-manufacturers__item:hover {
  box-shadow: 0 4px 20px var(--shadow-kart-modal);
}

hr {
  margin: 0;
}
/* !классы шрифтов */

.paragraf-1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--text-black);
}

.paragraf-2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.paragraf-3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: var(--text-white);
}

.zagolovok-4 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.zagolovok-2 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-dark);
}

.stok_button-text,
input[type="submit"] {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--akcent-color);
  color: var(--text-white);
}

.podpis {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: var(--text-dark);
}

.bold-paragraf {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--text-black);
}

.old-price {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;

  color: var(--grey-dark);
}

.breadcrumbs {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--text-black);
}

.zagolovok-6 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;

  color: var(--text-black);
}

.zagolovok-3 {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: var(--text-black);
}
/* промопродукта тайтл */
.promo-product-card__title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.text-filter-input {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  color: var(--text-black);
}

.form-filter legend[class*="__title"] {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-black);
}

/*! ---------------------------шапка сайта-------------------------------- */
.page-body__header {
  margin-bottom: 59px;
}

.page-body__header_catalog {
  margin-bottom: 21px;
}

.header {
  background: var(--text-footer-mid);
  box-sizing: border-box;
}
.header-content-top {
  background: var(--bg-dark);
  box-sizing: border-box;
}
.header__content-top {
  margin-bottom: 46px;
}

.header-content-top_wraper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.logo {
  background: var(--akcent-color);
  box-sizing: border-box;
  display: block;
  width: 220px;
  box-shadow: 0 5px 0 0 #ba2732;
}

.header-content-top__logo {
  max-height: 42px;
  padding: 12px 56px;
}

.form-search {
  width: 270px;
  flex-grow: 1;
}

.form-search__search-input {
  color: var(--text-white);
  background: transparent;
  border: none;
  box-sizing: border-box;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  height: 42px;
  padding-left: 42px;
  width: 100%;
}
.form-search__search-input::placeholder {
  color: var(--text-white);
}

.list-bookmarks {
  display: flex;
  flex-wrap: wrap;
}

.list-bookmarks .list-bookmarks__item {
  display: flex;
}

.bookmarks-buttons {
  color: var(--text-white);
  box-sizing: border-box;
  margin: auto auto;
  min-width: 150px;
}

.bookmarks-button {
  padding-left: 43px;
}

.cart-button {
  padding-left: 49px;
}

.order-button {
  padding: 9px 16px 9px 19px;
  background: var(--success);
}

.header-content-middle {
  display: flex;
  column-gap: 51px;
}

.header__content-middle {
  margin-bottom: 40px;
}

.header-content-middle__contacts {
  flex-basis: 270px;
}

.header-content-middle__contacts_right-margin18 {
  margin-right: 18px;
}

.header-content-middle__opisanie * {
  color: var(--akcent-color);
  font-family: Cuprum;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  box-sizing: border-box;
}

.header-content-middle__telefon {
  box-sizing: border-box;
  border: 3px solid var(--text-white);
  text-align: center;
  padding: 4px 47px 5px 71px;
  margin-bottom: 3px;
}

.header-content-middle__telefon .link {
  color: var(--akcent-color);
}

.header-content-middle__user-login .link {
  background: var(--text-white);
}

.user-login__list-link .link {
  background: transparent;
  color: var(--text-dark);
}

.main-navigation {
  padding-bottom: 60px;
}

.main-navigation__list {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation__item {
  box-sizing: border-box;
}

.main-navigation__item a {
  padding: 16px 28px 20px;
  box-sizing: border-box;
  display: block;
}

.main-navigation__item:first-child a {
  padding-left: 53px;
}

.main-navigation__item:last-child a {
  padding-right: 53px;
}

.main-navigation__list,
.main-navigation__item .link {
  background: var(--text-dark);
  color: var(--text-white);
}

.form-search__content {
  margin: 0;
}

.header-content-middle__opisanie {
  margin: 0;
  margin-top: -2px;
  margin-right: 42px;
  padding-left: 30px;
  max-width: 197px;
}

.header-content-middle__adress {
  min-width: 259px;
  margin: 0 auto;
}

.user-login {
  display: flex;
  column-gap: 10px;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 282px;
}

.user-login-login {
  width: 299px;
}

.user-login__container {
  display: flex;
  justify-content: space-between;
  background: var(--text-white);
  box-sizing: border-box;
  padding: 12px 17px 8px 15px;
  margin-bottom: 7px;
}

.user-login__container svg {
  vertical-align: sub;
}

.user-login-login__svg-left {
  margin-right: 19px;
}

.user-login__list-link {
  display: flex;
  justify-content: center;
}

.user-login__list-link .user-login__list-item:first-child {
  margin-right: 33px;
}

.button-login {
  min-width: 121px;
  min-height: 45px;
  padding: 12px 27px 12px 19px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  box-sizing: border-box;
  flex: 1 1;
}

.button-login svg {
  vertical-align: -2px;
  margin-right: 2px;
}

.button-registration {
  min-width: 150px;
  min-height: 45px;
  padding: 12px 24px;
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  box-sizing: border-box;
}
/* !------------------------------шапка каталога----------------------------*/
.page-main__breadcrumbs-list {
  margin-bottom: 20px;
}

.list-bookmarks__item_active {
  background: var(--akcent-color);
}

.user-login__container a:nth-of-type(1) {
  color: var(--text-black);
}

.user-login__name {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--text-black);
}
/* *--------------------------интерактивность шапки----------------------------------------- */
.form-search__content_active:hover::before,
.list-bookmarks__item:nth-of-type(-n + 2):hover::before {
  opacity: 1;
}

.order-button:hover {
  background: var(--hover-success);
}

.logo_active:active {
  background: var(--click-akcent-color);
}

.list-bookmarks__item:nth-of-type(-n + 2):active {
  background: var(--bg-click-dark);
}

.list-bookmarks__item:nth-of-type(-n + 2):active a {
  opacity: 0.5;
}

.order-button:active {
  background: var(--success);
  color: var(--text-white-opacity);
}

.form-search__search-input:focus {
  background: var(--text-white);
  border: none;
  outline: none;
  color: var(--text-black);
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

/* фокус в поле поиска */
.form-search__search-input:focus::placeholder {
  color: var(--text-black);

  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

/* наведение на кнопки регистра и войти  */
.header-content-middle__login:hover,
.header-content-middle__registration:hover,
.user-login__list-item:hover .link {
  color: var(--akcent-color);
}

/* измин занчков свг при наведении */
.header-content-middle__login:hover path,
.user-login__container a:hover path {
  fill: var(--hover-icon);
}

/* изминения кнопок мои заказы и личн кабинет при нажатии  */
.header-content-middle__login:active,
.header-content-middle__registration:active {
  color: var(--grey);
}

/* изменение авторизован пользователя при клике */
.user-login__list-item:active .link,
.user-login__container:active a,
.header-content-middle__login:active path,
.user-login__container a:active path {
  color: var(--grey);
  fill: var(--grey);
}

/* изминени при наведении на меню */
.main-navigation__item:hover .link {
  background: var(--bg-dark);
}

/* изминен при нажатии по меню */
.main-navigation__item:active .link {
  background: var(--bg-click-menu-dark);
}
/* !----------------------промо ассортимент товаров-------------------------- */
.promo-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 59px;
}

.promo-product-card h3 {
  margin: 0;
  margin-bottom: 14px;
}
.promo-product-card {
  box-sizing: border-box;
  padding: 20px 31px 0 23px;
  min-height: 123px;
}

.carousel {
  position: relative;
}

.promo-product__carousel {
  grid-row: 2/ 4;
  grid-column: 1 / 3;
}

.promo-product-card__link {
  background: var(--text-white-30);
  color: var(--text-white);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  min-width: 135px;
  padding: 10px 0 10px;
}

.promo-product-card__title {
  color: var(--text-white);
}

.promo-product__card-material {
  background: var(--bg-promo-materials);
}

.promo-product__card-instrument {
  background: var(--bg-promo-instrument);
}

.promo-product__card-technics {
  background: var(--bg-promo-tehnik);
}

.promo-product__card-sale {
  background: var(--bg-promo-sale);
}

.promo-product__card-deliveri {
  background: var(--bg-promo-deliveri);
}
/** --------------------------интерактив промо--------------------------------- */
/* наведение на кнопку  */
.promo-product-card__link:hover {
  background: var(--grey-03);
}

/* нажатие кнопки */
.promo-product-card__link:active {
  background: var(--grey-dark-03);
}

/*! --------------------карусель в промо-------------------- */
.carousel__item {
  box-sizing: border-box;
  min-height: 266px;
}
.carousel__item-drill {
  background: var(--grey) url(/img/fons/carusel_dreli.jpg) no-repeat;
}

.carousel__item-perforator {
  background: var(--grey) url(/img/fons/carusel_perforator.png) no-repeat;
}
.carousel__header {
  background: var(--bg-slider-title);
  color: var(--text-white);
  padding: 23px 0 16px 24px;
  margin-bottom: 97px;
}

.carousel__item h3,
.carousel__item p {
  margin: 0;
}

.carousel__item .carousel__title {
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.carousel__bootom {
  padding-left: 24px;
}

.carousel__link {
  width: 192px;
  display: flex;
  padding: 11px 0 9px 0;
  justify-content: center;
}

.carousel__contols {
  width: 100%;
  display: flex;
  position: absolute;
  top: 130px;
  justify-content: space-between;
  padding: 0 27px 0 30px;
}

.carousel__contols li {
  width: 25px;
  height: 24px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.carousel__contols li:last-child {
  transform: rotate(220deg);
}

.carousel__radio {
  display: flex;
  position: absolute;
  bottom: 26px;
  left: 46%;
  padding: 10px;
  column-gap: 10px;
}

.carousel__radio li {
  cursor: pointer;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background: var(--text-white);
  border-radius: 50%;
  border: 2px solid var(--text-white);
}

/* модификатор который вешается активному радиобатому */
.carousel__radio .carousel__radio-active {
  background: var(--akcent-color);
}

/* !-----------------------------main------------------------------------ */
/* !--------------------------популярные товары--------------------------------------- */
.page-main__popular-goods {
  margin-bottom: 70px;
}

.section-header {
  background: var(--bg-title);
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  padding: 25px 14px 26px 28px;
}

.section-header__link {
  display: flex;
  width: 192px;
  padding: 11px 0 9px;
}

.section-header__link span {
  margin: auto auto;
}

.popular-goods__section-header {
  margin-bottom: 20px;
}

.popular-goods__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.goods-card {
  box-sizing: border-box;
  border: solid 1px var(--border);
  width: 220px;
  min-height: 318px;
  padding: 6px 18px 21px;
}

.goods-card__div-image {
  box-sizing: border-box;
  margin-bottom: 8px;
  height: 164px;
  display: flex;
}

.goods-card__title {
  margin: 0;
  margin-bottom: 8px;
}

.goods-card__old-value {
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.goods-card__wrapper-button {
  display: flex;
  padding-left: 14px;
}

.goods-card__button {
  box-sizing: border-box;
  margin: auto auto;
  /* margin: 0; */
  /* margin-bottom: 21px; */
  padding: 0;
  border: none;
  background: var(--akcent-color);
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  width: 141px;
  padding: 10px 44px 10px 32px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  /* срез у кнопок сделал через полигон, можно реализовать через before но было интересно попробовать, также более красивее, поддержка 97% для остальных кнопка прямоугольная, ну либо можно добавить бефор*/
}

.goods-card__item-list:nth-of-type(1) button {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  background: var(--success);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--shadow-succes);
}

.goods-card__item-list:nth-of-type(2) button {
  box-sizing: border-box;
  border: 3px solid var(--success);
  padding: 0;
  margin: 0;
  background: var(--text-white);
  color: var(--text-dark);
  border-radius: 2px;
}

/** -------------------интерактив стили для популяр товар-------------------- */
/* кнопки в карточке */
.goods-card__item-list:nth-of-type(1) button:hover {
  background: var(--hover-success);
}

.goods-card__item-list:nth-of-type(1) button:active {
  background: var(--click-success);
}

.goods-card__item-list:nth-of-type(2) button:hover {
  border: 3px solid var(--text-dark);
}

.goods-card__item-list:nth-of-type(2) button:active {
  border: 3px solid var(--text-dark);
  opacity: 0.5;
}
/* !-------------------------------популярные производители--------------------------------------------- */
.page-main__popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.popular-manufacturers__section-header {
  margin-bottom: 20px;
}

.popular-manufacturers__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid var(--border);
  width: 220px;
  height: 145px;
  /* padding-bottom: 5px; */
}

.popular-manufacturers__item a {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.popular-manufacturers__item img {
  margin: auto auto;
}
/* *---------интерактив производителя по клику------- */
.popular-manufacturers__item:active {
  opacity: 0.5;
}
/* !-------------------------------сервисы------------------------------- */
.services {
  background: var(--text-footer-mid);
  padding-top: 64px;
  padding-bottom: 102px;
}

.page-main__services {
  margin-bottom: 71px;
}

.services__list-buttons {
  position: relative;
}

.services__list-buttons::before {
  content: "";
  display: block;
  position: absolute;
  top: -48px;
  left: 230px;
  height: 279px;
  width: 10px;
  background: url(/img/icons/shadow-servic.png);
}

.services__list-buttons button {
  display: flex;
  width: 100%;
  height: 61px;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-white);
  background: var(--text-dark);
  box-shadow: 0px 1px 0px var(--bg-dark),
    inset 0px 1px 0px var(--shadow-slide-but);
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  padding-left: 22px;
}

.services__list-buttons .services__list-buttons_active {
  background: var(--text-white);
  color: var(--text-dark);
  box-shadow: 0px 1px 0px var(--text-white);
}

.services__title {
  margin: 0;
  margin-bottom: 24px;
}

.services__text {
  margin: 0;
  margin-bottom: 70px;
}

.services__carousel-title {
  margin: 0;
  margin-bottom: 28px;
}

.services__carousel-text {
  margin: 0;
  margin-bottom: 27px;
}

.services__container {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 80px;
}

.services__list-buttons button:hover {
  background: var(--bg-dark);
  box-shadow: 0px 1px 0px var(--shadow-nav),
    inset 0px 1px 0px var(--shadow-slide-but);
  color: var(--text-white);
}

.services__carousel-but-credit {
  width: 195px;
  height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
}

/* !----------------------контейнер с информ о нас--------------------------------- */
.info-kontakts {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  /* gap: 180px; */
  padding-bottom: 70px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 22px;
}

.about-us__text {
  margin: 0;
  margin-bottom: 1px;
}

.about-us .about-us__text:nth-of-type(2) {
  margin-bottom: 26px;
}

.about-us__list {
  margin-bottom: 17px;
}

.about-us__list h3 {
  margin: 0;
}

.about-us__list .about-us__item {
  margin-bottom: 12px;
}

li.about-us__item h3::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background: red;
  vertical-align: middle;
  margin-right: 12px;
}

/* .about-us__item:last-of-type h3 {
  margin-bottom: 20px;
} */

.about-us__item b {
  font-family: Cuprum;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.about-us__link {
  width: 220px;
  padding: 11px 0 9px;
  display: flex;
  justify-content: center;
}

.contacts__title {
  margin: 0;
  margin-bottom: 24px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 32px;
}

.contacts__img {
  margin-bottom: 25px;
}

.contacts__link {
  width: 300px;
  padding: 11px 0 9px;
  display: flex;
  justify-content: center;
}
/* !----------------------------main-catalog--------------------------------- */
.page-main__grid-container {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
}

.products-list__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 48px;
}

.section-header-catalog,
.description-product {
  background: var(--bg-gray);
}

.section-header-catalog__title {
  margin: 0;
}

.section-header-catalog {
  margin-bottom: 20px;
}

.filter__title {
  margin: 0;
  margin-bottom: 15px;
}

.filter__title,
.form-cena input,
.sorting {
  background: var(--bg-title-catalog);
}

.sorting button {
  background: none;
}

.form-filter .filter__show {
  background: var(--text-white);
  color: var(--text-black);
  font-family: "PT Sans";
  border: 1px solid var(--bord-submit-filter);
  box-sizing: border-box;
}
/*! --------------------фильтр--------------------------- */
.form-manufacturers__list input {
  display: none;
}

.nutrition__list input {
  display: none;
}

.label-filter-manufacturers {
  position: relative;
}

.label-filter-manufacturers::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 23px;
  height: 23px;
  border: 2px solid var(--border-dark);
  margin-right: 12px;
  vertical-align: middle;
}

.label-filter-manufacturers::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 21px;
  height: 14px;
  border: 4px solid var(--border-dark);
  background: var(--text-white);
  border-top: none;
  border-right: none;
  position: absolute;
  top: 1px;
  left: 3px;
  transform: rotate(-45deg);
}

.label-filter-nutrition::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  vertical-align: middle;
  border: 4px solid var(--text-white);
  outline: 4px solid var(--border-dark);
  margin-right: 10px;
}

.form-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-cena__title {
  margin-bottom: 11px;
}

.form-filter .form-filter__cena {
  margin-bottom: 25px;
}

.form-filter .form-filter-line:nth-of-type(1),
.form-manufacturers__list li,
.nutrition__list li {
  margin-bottom: 16px;
}

.form-filter .form-filter-line:nth-of-type(2) {
  margin-bottom: 18px;
}

.form-manufacturers__title {
  margin-bottom: 15px;
}

.form-manufacturers__list li:last-of-type {
  margin-bottom: 26px;
}

.nutrition__title {
  margin-bottom: 21px;
}

.nutrition__list li:last-of-type {
  margin-bottom: 35px;
}
/*! ----------------------------сортировка------------------------------ */
.sorting__button {
  border-bottom: 1px dotted var(--akcent-color);
}
.sorting__button span {
  opacity: 0.3;
}

.sorting__button_active span {
  color: var(--akcent-color);
  border: none;
  opacity: 1;
}

.sorting__arrows-button-active path {
  fill: #ee3643;
}

.sorting__title {
  margin: 0;
}

/** ---------------интерактив сортировки--------------- */
.sorting__button:hover {
  border-bottom: 1px solid red;
}
.sorting__button:hover span {
  opacity: 1;
  color: var(--text-black);
}

.arrows-button:hover path {
  fill: var(--text-black);
}

.page-main__breadcrumbs {
  margin-bottom: 28px;
}

/* !------------------------Текст о товаре------------------------------------- */
.description-product {
  padding-top: 64px;
  padding-bottom: 68px;
}

.description-product__title-text {
  margin: 0;
  margin-bottom: 25px;
}

.description-product__text {
  margin: 0;
}
/* !-------------------погинация--------------------------- */
.pagination__list {
  list-style-type: none;
}

.pagination__item a {
  border: 1px solid var(--bord-submit-filter);
  border-radius: 2px;
}

/* *---------------интерактив погинация----------------- */
.pagination__item a:hover {
  border: 2px solid var(--border-dark);
}

.pagination__item a:active {
  border: 2px solid var(--akcent-color);
}

.pagination__item-active {
  background: var(--akcent-color);
  border: none;
}
/* !--------------------------подвал---------------------- */
.page-footer {
  background: var(--text-dark);
  grid-row: -1 / -2;
}

.page-footer__container {
  padding-bottom: 54px;
}

.footer-header {
  display: flex;
  justify-content: space-between;
}

.page-footer__header {
  margin-bottom: 27px;
}

.footer-nav {
  display: flex;
  align-items: center;
  column-gap: 59px;
  row-gap: 8px;
  padding-top: 35px;
  flex-wrap: wrap;
}

.footer-midle {
  display: flex;
  justify-content: space-between;
}

.page-footer * {
  color: var(--text-footer-mid);
}

.nav-promo-list {
  display: flex;
  column-gap: 59px;
  padding-top: 5px;
  flex-wrap: wrap;
}

.nav-promo-list * {
  color: var(--text-mark);
}

.footer-footer {
  background: var(--bg-dark);
  display: flex;
  flex-wrap: wrap;
}

.footer-footer * {
  color: var(--text-white);
}

.socials__list {
  display: flex;
  column-gap: 4px;
}

/* .socials__list li {
  margin-right: 4px;
} */

.socials__list li:last-child {
  margin-right: 0;
}

.socials__list a {
  display: block;
  width: 41px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-icon-social);
}

.footer-footer__feedback {
  display: flex;
  column-gap: 52px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.footer-footer__feedback a {
  color: var(--text-mark);
}

.footer-midle__address {
  padding-left: 2px;
}

.footer-midle__address p {
  margin: 0;
}

.footer-footer__copy {
  margin: 0;
  margin-right: 162px;
  padding-left: 1px;
}

.page-footer__footer {
  padding: 37px 0 29px 0;
}

.footer-header__logo {
  padding: 20px 41px;
}

.footer-footer__socials {
  margin-right: 120px;
}

.footer-footer__feedback p {
  margin: 0;
}

/** -------------------интерактив подвал--------------------------- */
.footer-nav__item a:hover,
.nav-promo-list__item a:hover,
.footer-footer__feedback a:hover {
  text-decoration: underline;
}

.socials__list a:hover {
  background: var(--akcent-color);
}

.footer-nav__item a:active,
.nav-promo-list__item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-footer__feedback a:active {
  color: var(--akcent-color);
  text-decoration: none;
}
/*! ----------------------модальные окна------------------------- */
.modal {
  border-top: 7px solid var(--akcent-color);
  background: var(--text-white);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 20px var(--shadow-kart-modal);
  display: none;
}

.form-submit,
.modal-item-cart__list {
  background: var(--bg-folback-modal);
}
